<%- include ('../partials/header') %> 
<%- include ('../partials/navbar') %>

<div id="notifications_header">
    <h1 style="text-align: center;">
        Price Notifications
    </h1>
</div>

<div id="notifications_body">
    <div class="row" style="width: 90%; margin-left: auto; margin-right: auto;">
        <div class="col-sm">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Items That Meet Your Price</h5>
                    <p class="card-text">If an item meets the price you listed as fair, it will be displayed here.</p>
                    <table id="price_met_table" style="width: fit-content; margin-left: auto; margin-right: auto;">
                        <tr>
                            <th style="width: 15%;">Image</th>
                            <th style="width: 35%;">Item Name</th>
                            <th style="width: 20%;">Current Price</th>
                            <th style="width: 20%;">Your Price</th>
                            <th style="width: 10%;">Buy Now</th>
                        </tr>
                        <% watchlistMeet.forEach(item => { %>
                            <tr>
                                <td><img src="<%= item.itemimage %>" alt="<%= item.itemname %>" style="max-width: 100px;"></td>
                                <td><%= item.itemname %></td>
                                <td><%= item.itemprice %></td>
                                <td><%= item.watchprice %></td>
                                <td>
                                    <a href="<%= item.itemurl %>" class="btn btn-primary" target="_blank">Buy</a>
                                </td>
                            </tr>
                        <% }); %>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Items at an all time low price</h5>
                    <p class="card-text">These items are at the lowest point we have recorded. Might be a good deal.</p>
                    <table id="low_price_table"  style="width: fit-content; margin-left: auto; margin-right: auto;">
                        <tr>
                            <th style="width: 15%;">Image</th>
                            <th style="width: 35%;">Item Name</th>
                            <th style="width: 20%;">Current Low Price</th>
                            <th style="width: 20%;">Initial Price</th>
                            <th style="width: 10%;">Buy Now</th>
                        </tr>
                        <% watchlistLow.forEach(item => { %>
                            <tr>
                                <td><img src="<%= item.itemimage %>" alt="<%= item.itemname %>" style="max-width: 100px;"></td>
                                <td><%= item.itemname %></td>
                                <td><%= item.itemprice %></td>
                                <td><%= item.initialprice %></td>
                                <td>
                                    <a href="<%= item.itemurl %>" class="btn btn-primary" target="_blank">Buy</a>
                                </td>
                            </tr>
                        <% }); %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ('../partials/footer') %>