<%- include ('../partials/header') %> 
<%- include ('../partials/navbar') %>
<%- include ('../partials/message') %>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Watchlist</title>
    <style>
      body {
        background-color: white;
        font-family: Arial, sans-serif;
        font-size: 16px;
      }
      h1 {
        color: #333;
        text-align: center;
        
      }
      h2{
        font-family: 'Calibri'
      }
      table {
        margin: 0 auto;
        border-collapse: collapse;
        width: 100%;
        max-width: 800px;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      }
      th, td {
        text-align: left;
        padding: 10px;
        color: #5e6282
      }
      th {
        background-color: #333;
        color: #4d5969;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      form {
        display: inline-block;
      }
      button {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
      }
      button:hover {
        background-color: #555;
      }
      .buy-btn {
        background-color: #00bac7;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
      .buy-btn:hover {
        background-color: #00bac7;
      }
      input {
        border-color: #dee2e6
      }
    </style>
    </head>
    <body>
<main>
  <br>
    <div class="container" style="padding: 50px; background-color: seashell; width: 80%">

        <div class="row">
        
            <div class="col-xl-8 col-xxl-9">
              <div class = "container rounded" style="border:2px solid #ccc4b3; border-radius: 30px; padding:30px">
                <div class="card border-0 card-h-100">
                    <div class="card-header border-0 card-header-space-between">
                        
                       
                        <h2 class="card-header-title h4 text-uppercase">
                            WatchList
                        </h2>
               
                    </div>

                   
                    <div class="table-responsive">
                        <table id="projectsTable" class="table align-middle table-edge table-nowrap mb-0">
                            <thead class="thead-light">
                               <tr>             
                                    <th>Image</th>                                      
                                    <th>Product name</th>
                                    <th>Price</th>
                                    <th>Watch Price</th>
                                    <th>Action </th>
                               
                                </tr>
                            </thead>
                            <tbody>
                              <% watchlist.forEach(item => { %>
                                <tr>
                                  <td>
                                    <span class="avatar-sm me-2">
                                    <img src="<%= item.itemimage %>" alt="<%= item.itemname %>" style="max-width: 100px;">
                                    </span>   
                                    </td>
                                    <td>                
                                    <%= item.itemname %>
                                  </td>
                               
                                  <td>$<%= item.itemprice %></td>
                                  <td>
                                    <form method="POST" action="/watchlist/update-price">
                                      <input type="hidden" name="itemId" value="<%= item.id %>">
                                      <!-- <input type="number" step="0.01" name="watchPrice" aria-describedby="basic-addon1" value="<%= item.watchprice %>" required> -->
                                      <div class = "mb-3">
                                      <input type="number" class="form-control" name="watchPrice" step = "0.01" aria-describedby="basic-addon1" value="<%= item.watchprice %>" required>
                                        </div>
                                      <button type="submit" class="btn btn-secondary btn-sm" style="background-color: #e6a055; border-color :#e6a055";>Update</button>
                                    </form>
                                  </td>
                                  <td>
                                    <form id="deleteForm" method="POST" action="/watchlist/delete">
                                      <input type="hidden" name="itemId" value="<%= item.id %>">
                                      <button type="submit"  class="btn btn-secondary">Remove</button>
                                    </form>
                                    <a href="<%= item.itemurl %>" class="buy-btn">Buy</a>
                                  </td>
                                </tr>
                              <% }); %>
                            </tbody>
                 
                        </table>
                    </div> 
                </div>
            </div>
            </div>
         
            <div class="col-xl-4 col-xxl-3">
                
              <div class = "container rounded" style="border:2px solid #ccc4b3; border-radius: 30px; padding:20px">
                <div class="card border-0 card-h-100">
                    <div class="card-header border-0 card-header-space-between">
                        
                        
                        <h2 class="card-header-title h4 text-uppercase">
                            Total Items: 
                        </h2>
                        
       
                    </div>

                    <div class="card-body text-center d-flex flex-column align-items-center">

                      <h2 class="mb-0 mt-auto display-4">
                        <%= watchlist.length %>
                      </h2>                     
                    </div>
                </div>
            </div>
            </div>
        </div> 

    </div>
           


 </main>
  </body>


<%- include ('../partials/footer') %>



